.btn {
  // border-radius: 6px;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  padding: .2rem 1.5rem;
}

.btn-primary, .widget_search form.search-form .search-submit {
  color: #fff;
}

.gform_wrapper .gform_footer input[type=submit] {
  color: #fff;
  border-color: theme-color('secondary');
  background-color: theme-color('secondary');
}