hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

a {
  color: theme-color('primary');
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.lg-loading-screen {
  background-image: radial-gradient(circle, #cfffff, #cfffff, #cfffff, #cfffff, #cfffff, #d4ffff, #d8feff, #ddfeff, #e7fdff, #f2fdff, #fbfdff, #ffffff);

  .loading-bar {
    border-color: theme-color('dark');

    &:after {
      background: theme-color('dark');
    }
  }
}

.fancy-title {
  margin-bottom: 1.2rem;

  &:after {
    content: '';
    height: 2px;
    width: 60px;
    background-color: theme-color('primary');
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
}

.fancy-title.fancy-title--center {
  &:after {
    margin-left: auto;
    margin-right: auto;
  }
}


.fancy-list {
  list-style: none;
  padding-left: 0;
  font-size: 20px;

  > li {
    padding-left: 45px;
    position: relative;
    margin-bottom: 2rem;

    &:before {
      content: "";
      height: 40px;
      width: 30px;
      display: inline-block;
      background-size: contain;
      position: absolute;
      left: 0;
    }

    &:last-child {
      &:before {
        background: url(../images/global-mission-values-2.png) 50% no-repeat;
      }
    }

    &:first-child {
      &:before {
        background: url(../images/global-mission-values.png) 50% no-repeat;
      }
    }
  }
}

.flexible_call-to-action {
  color: #fff;

  h3 {
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
  }

  .btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 22px;

    &:hover {
      color: theme-color('primary');
      background-color: #fff;
    }
  }
}

.course-grid-items {
  img {
    height: auto;
  }

  .flexible_grid {
    > div {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  section.flexible-content {
    box-shadow: 0px 2px 6px rgba(#000, 0.1);
    height: 100%;

    > div {
      height: 100%;

      > div {
        height: 100%;
      }
    }

    .text-editor {
      padding-bottom: 20px;

      h3 {
        font-size: 20px;
        margin-top: 20px;
      }

      > * {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;

        &:first-child {
          padding-left: 0;
          padding-right: 0;
        }

        &:last-child {
          position: absolute;
          bottom: 20px;
        }
      }


    }
  }
}


.aqua-overlay {
  position: relative;

  a {
    color: theme-color('secondary');

    &:hover {
      color: theme-color('primary');
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(theme-color('aqua'), 0.75);
  }
}

.our-products {
  overflow: hidden;
}

.deliver-prp, .our-products {
  .text-editor {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-with-bg {
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    background-color: rgba(theme-color('primary'), .93);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .text-editor {
    max-width: 840px;
    margin: auto;
  }

  .fancy-title:after {
    background-color: #fff;
  }
}

.contact-us {
  .text-editor {
    > p {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.protocols {
  h3 {
    font-weight: 600;
  }
}

.padded-text {
  .col-md-6.order-2 {
    padding: 30px;
  }
}

.padded-text.padded-img{
  img{
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  .padded-img {
    img {
      padding-bottom: 30px;
    }
  }
}


@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(xl) {
  .right-content-register {
    .col-md-6.order-2 {
      padding: 20px 40px;

    }

    ul {
      padding-left: 20px;
    }
  }

  .padded-text {
    .col-md-6.order-2 {
      padding-left: 45px;
      max-width: 630px;
    }
  }
}

