footer {
  font-family: proxima-nova, sans-serif;

  .widget {

    .widget-title {
      background-color: transparent;
      border: 0;
      color: theme-color('secondary');
      font-size: 1.25rem;
      padding: 0;
      text-transform: none;
      margin-bottom: 1.5rem;
    }
  }

  .textwidget {
    font-size: 18px;
    font-weight: 300;
  }
}

#menu-footer-menu {
  list-style: none;
  padding-left: 0;
  font-size: 20px;

  li > a {
    color: theme-color('secondary');

    &:hover {
      color: theme-color('primary');
    }
  }
}

#site-footer #site-legal {
  background-color: theme-color('bg');
  padding-bottom: 20px;
}

#site-footer #site-legal > div a {
  color: theme-color('primary');

  &:hover {
    color: theme-color('secondary');
  }
}


@include media-breakpoint-up(lg) {
  #menu-footer-menu {
    display: flex;
    max-width: 200px;
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;

    > li > a {
      padding-left: 15px;
    }
  }
}

@include media-breakpoint-up(xl) {

  #site-footer #site-legal {
    padding-bottom: 0;
  }


  #site-footer #site-legal > div .site-longevity {
    position: relative;
    top: -23px;
    z-index: 0;
  }

  #site-footer {
    .widget {
      margin-bottom: 0;
    }
  }

  .site-footer-bravo {
    position: relative;
    z-index: 1;
  }
}