.gform_fields {
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 20px;

    input, textarea {
      border: 1px solid #707070;
      height: 40px;
      width: 100%;
      padding: 5px 10px;
    }

    textarea {
      height: 260px;
    }
  }

  > li.gfield_error {
    input, textarea {
      border-color: #dc3545;
    }
  }
}

.gform_wrapper {
  max-width: 940px !important;
  margin-left: auto;
  margin-right: auto;
}

.validation_error {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.validation_message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.gform_wrapper .gform_footer input[type=submit] {
  color: #fff;
  border-color: theme-color("primary");
  background-color: theme-color("primary");
}

@include media-breakpoint-up(sm) {
  .gform_body {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    > ul {
      display: none;
    }

    > * {
      flex: 0 0 50%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .gform_fields {

    > li {

      input, textarea {
        height: 50px;
      }

      textarea {
        height: 260px;
      }
    }
  }
}