#site-header .header-main .site-branding .logo {
  width: 72px;
  @include media-breakpoint-up($nav-breakpoint-up){
    width: 72px;
  }
}
.nav-link {
  font-family: proxima-nova, sans-serif;
}

.main-navigation .navbar-nav a.nav-link {
  text-transform: none;
  font-size: 20px;
}


.main-navigation .navbar-nav a.nav-link {
  &:hover, &:active, &:focus {
    color: theme-color('primary');
  }
}

.main-navigation .navbar-nav .active a.nav-link {
  color: theme-color('primary');
}

@include media-breakpoint-up(md) {
  #site-header .header-main {
    padding: 0;
  }
}