$site-footer-bg-color:			theme-color('bg');
$site-footer-color:				theme-color('secondary');

//Site Legal
$site-legal-bg-color: 			#fff;
$site-legal-color:				theme-color('dark');
$site-legal-link-color:			theme-color('dark');